<div class="main-content">
  <div class="body-content">
    <h1 class="title">
      MAQE Forum
    </h1>
    <p>Your current timezone is: {{ currentDate | date: 'EEEE, MMMM d, yyyy, HH:mm' : 'Asia/Bangkok' }}</p>
    <div *ngFor="let item of listPosts; let i = index" class="item-card">
      <mat-card class="example-card">
        <mat-card-header>
          <div class="header-card">
            <img mat-card-image src="{{ getAuthors(item.author_id, 'avatar')}}" alt="portraits"
              class="image-custom">
            <span class="custom-name">{{ getAuthors(item.author_id, 'name')}}</span>
            <span class="posted-on">posted on {{item.created_at | date:'EEEE, MMMM d, yyyy, HH:mm'}}</span>
          </div>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="body-content-detail">
            <img mat-card-image src="{{item.image_url}}" alt="portraits"
              >
              <div class="content-detail">
                <span class="text-title">
                  {{item.title}}
                </span>
                <span>
                  {{item.body}}
                </span>
              </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>